<div id="container">
  <div id="admin-home">
    <img src="../../../assets/img/google_2965350.png" alt="">
    <h2>Admin Home</h2>
  </div>

  <div id="container-options">
    <button class="options" [routerLink]="'/crudcoins'"><img
        src="https://cdn-icons-png.flaticon.com/128/7633/7633412.png?ga=GA1.1.1567254405.1695211600&track=ais"
        alt="">Monedas
    </button>

    <button class="options" [routerLink]="'/crudusers'"><img
        src="https://cdn-icons-png.flaticon.com/128/6640/6640024.png?ga=GA1.1.1567254405.1695211600&track=ais"
        alt="">Usuarios</button>

    <button class="options" [routerLink]="'/convertir'"><img
        src="https://cdn-icons-png.flaticon.com/128/8693/8693137.png?ga=GA1.1.1567254405.1695211600&track=ais"
        alt="">Convertir</button>
  </div>